{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="box-element mt-4">
        <a class="btn btn-outline-secondary" href="{% url 'store' %}">&#8592;Continue Shopping</a>
        <br>
        <br>
        <hr>
        <table>
            <tr>
                <td class="sum-display">Items:<Strong>{{ cart_items }}</Strong></td>
                <td class="sum-display">Total:<Strong>${{ order.get_cart_total|floatformat:2 }}</Strong></td>
                <a class="checkout-page btn btn-success btn-lg" href="{% url 'checkout' %}"
                   style="float: right;">Checkout</a>
            </tr>
        </table>
        <br>
    </div>
    <div class="box-element mt-4">

        <div class="cart-row headd">
            <div style="flex: 2;"></div>
            <div style="flex: 2;">Item</div>
            <div style="flex: 1;">Price</div>
            <div style="flex: 1;">Quantity</div>
            <div style="flex: 1;">Total</div>
        </div>
        {% for orderitem in orderitems %}
            <div class="cart-row">
                <div style="flex: 2;"><img class="row-image" src="{{ orderitem.product.imageURL }}"></div>
                <div style="flex: 2;">{{ orderitem.product.name }}</div>
                <div style="flex: 1;">{{ orderitem.product.price }}</div>
                <div style="flex: 1;">
                    <p class="quantity">{{ orderitem.quantity }}</p>
                    <div class="quantity">
                        <img data-product="{{ orderitem.product.id }}" data-action="add" class="update_item arrows"
                             src="{% static 'images/arrow-up.png' %}">
                        <img data-product="{{ orderitem.product.id }}" data-action="remove" class="update_item arrows"
                             src="{% static 'images/arrow-down.png' %}">
                    </div>
                </div>
                <div style="flex: 1;">{{ orderitem.get_total|floatformat:2 }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
