{% extends 'base.html' %}

{% block content %}
    <div class="box-element mt-4">
        <a class="btn btn-outline-secondary" href="{% url 'store' %}">&#8592;Continue Shopping</a>
        <br>
        <br>
        <hr>
        <table>
            <tr>
                <td class="sum-display">Items:<Strong>2</Strong></td>
                <td class="sum-display">Total:<Strong>$345</Strong></td>
                <a class="checkout-page btn btn-success btn-lg" href="{% url 'checkout' %}"
                   style="float: right;">Checkout</a>
            </tr>
        </table>
        <br>
    </div>
    <div class="box-element mt-4">

            <div class="cart-row headd">
                <div style="flex: 2;"></div>
                <div style="flex: 2;">Item</div>
                <div style="flex: 1;">Price</div>
                <div style="flex: 1;">Quantity</div>
                <div style="flex: 1;">Total</div>
            </div>
            <div class="cart-row">
                <div style="flex: 2;">1</div>
                <div style="flex: 2;">1</div>
                <div style="flex: 1;">1</div>
                <div style="flex: 1;">1</div>
                <div style="flex: 1;">1</div>
            </div>

    </div>
{% endblock %}
